<style>
li.lyrics-line {
    border: none;
    padding: 0.25em 1em;
}
.grey {
    color:silver;
}
.metadata--data {
    font-weight: bold;
    font-size: 1.25em;
    color: #2552ac;
}
h3.metadata--data__title {
    color: #2552ac;
    margin-top: 0;
}
.metadata--data__artist {
    color: #2552ac;
}
.card.metadata {
    padding-left: 1.5em;
}
</style>

<br>
<div class='card metadata'>
    <h3 class='metadata--data__title' >{{ $ctrl.song.metadata.title  }}</h3>
    <h4 class='metadata--data__artist'>{{ $ctrl.song.metadata.artist }}</h4>
    <h6 ng-show='$ctrl.song.metadata.featuring' ><span class='metadata--label'>Featuring</span>      <span class='metadata--data'>{{ $ctrl.song.metadata.featuring }}</span>    </h6>
    <h6 ng-show='$ctrl.song.metadata.producedBy'><span class='metadata--label'>Produced By</span>    <span class='metadata--data'>{{ $ctrl.song.metadata.producedBy }}</span>   </h6>
    <h6 ng-show='$ctrl.song.metadata.album'     ><span class='metadata--label'>Album</span>          <span class='metadata--data'>{{ $ctrl.song.metadata.album }}</span>        </h6>
</div>

<div class='row'>

    <div class='col-sm-3'>
        <span class='grey'>[friends section...]</span>
    </div>

    <div class='col-sm-6'>
        <ul class='list-group card'>
            <li
                class='list-group-item lyrics-line'
                ng-repeat='line in $ctrl.song.lyrics track by $index'
            >
                {{line}}
            </li>
        </ul>
    </div><!-- class='col' -->

    <div class='col-sm-3'>
        <span class='grey'>[annotation section...]</span>
    </div>

</div><!-- class='row' -->
