<ul class='list-group'>
    <li
        class='list-group-item'
        ng-repeat='song in $ctrl.songs'
    >
        <h4>
            <a ui-sref='lyrics({ songId: song.songId })'>
                {{song.title}}
            </a>
        </h4>

        <div>{{song.artist}}</div>
    </li>
</ul>