.readpeer-overlay {
  box-sizing: border-box;
  max-width: 100%;
  display: -ms-flexbox;
  display: flex;
  border: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 100%;
  background-color: #f0f2f6;
  -ms-flex-direction: column;
      flex-direction: column;
  position: fixed;
  z-index: 2147483647;
  overflow-y: hidden;
  transform: translateX(0);
  transition: transform 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: -2px 0 8px -2px rgba(0, 0, 0, 0.12), inset 0 24px 48px 16px rgba(255, 255, 255, 0.88);
  -webkit-overflow-scrolling: touch;
}

.readpeer-overlay.is-active {
  transform: translateX(-100%);
}

@media (min-width: 25em) {
  .readpeer-overlay {
    max-width: 400px;
  }
}

.readpeer-overlay-toggle {
  appearance: none;
  padding: 0.333em 0.75em;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #808080;
  border: 1px solid #d0d2d4;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2147483646;
  background-color: #f0f2f6;
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.readpeer-overlay-toggle:focus {
  outline: none;
}

.readpeer-selection {
  position: relative;
  background-color: rgba(0,255,200,.36);
}

.readpeer-highlight {
  background-color: rgba(0,255,200,.12);
}

#readpeer-annotation-button {
  display: block;
  outline: none;
  user-select: none;
  pointer: cursor;
  position: absolute;
  display: block;
  z-index: 2147483646;
  bottom: 100%;
  border: none;
  border-radius: 3px;
  left: 50%;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transform: translateX(-50%) translateY(-3px);
  -moz-transform: translateX(-50%) translateY(-3px);
  transform: translateX(-50%) translateY(-3px);
  text-transform: none;
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: none;
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#readpeer-annotation-button:before {
  display: block;
  content: 'Annotate';
  padding: 4px 8px;
  background: #333333;
  background: rgba(0,0,0,0.5);
}

#readpeer-annotation-button:hover:before {
  background: #222222;
  background: rgba(0,0,0,0.65);
}
