.img--logo {
    width: 118px;
    height: 44px;
}

.img--logo__container {
    background-color: #2552ac;
    padding: 1em;
}

.header--text {
    padding-left: 1em;
    color: white;
    font-size: 1.1em;
}
.card {
    padding: 1em;
    margin-bottom: 2.5em;
    box-shadow:
        0 9px  46px  8px rgba(0,0,0,.14),
        0 11px 15px -7px rgba(0,0,0,.12),
        0 24px 38px  3px rgba(0,0,0,.2)
        !important;
}
